



html {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
}

#api-content {
  justify-content: center;
  padding: 4%;
  border-radius: 2%;
  gap: 20px;
  row-gap: 40px;
  position: relative;
  bottom: 120px;
  overflow: scroll; 
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
   border: 5px #ffd700 groove; 
   
}

#api-content > a:hover {
color: gold;
}

#api-content::-webkit-scrollbar {
  display: none;
}

#api-content > a::-webkit-scrollbar {
  display: none;
}


#api-content > a {
  max-width: 40%;
  border-radius: 4%;
  padding: 2%;
  overflow: scroll;
  color: whitesmoke;
  text-align: start;
  flex: 1 1 20%;
  border: 5px groove gold;
}

#api-content > a > div > h2 {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 1.5em;
  color: gold;
}

footer {
  position: absolute;
  height: 0;
  bottom: 0%;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.homeicon {
  display: block;
  position: absolute;
  top: 16%;
  left: 33vw;
}

.bookicon {
  display: block;
  position: absolute;
  top: 16%;
  right: 33vw;
}

.fas.fa-bookmark:hover {
  color: #fff !important;
}

.fa.fa-home:hover {
  color: #fff !important;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fas.fa-bookmark {
    font-size: 15px;
  }
  .fa.fa-home {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fas.fa-bookmark {
    font-size: 25px;
  }
  .fa.fa-home {
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fas.fa-bookmark {
    font-size: 35px;
  }
  .fa.fa-home {
    font-size: 35px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fas.fa-bookmark {
    font-size: 45px;
  }
  .fa.fa-home {
    font-size: 45px;
  }
}
