html::-webkit-scrollbar {
  display: none;
  }

html {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
}

footer {
  position: absolute;
  height: 0;
  bottom: 0%;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.homeicon {
  display: block;
  position: absolute;
  top: 16%;
  left: 33vw;
}

.bookicon {
  display: block;
  position: absolute;
  top: 16%;
  right: 33vw;
}

.fas.fa-bookmark:hover {
  color: #fff !important;
}

.fa.fa-home:hover {
  color: #fff !important;
}

header + h1 {
  color: gold;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 2.5rem;
}

#stored::-webkit-scrollbar {
  display: none;
}
#stored {
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px, rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px, rgba(0, 0, 0, 0.33) -25px 25px;
  
  border: gold .5px solid;
  border-radius: 50px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  max-width: 80vw;
  overflow: scroll;
  max-height: 65vh;
}
#stored > a {
  justify-content: center;
  flex-direction: column;
  flex: 1 1 20%;
  margin-bottom: 8%;
}

#stored > a > img {
  align-items: center;
  margin: auto;
  padding-bottom: 10px;
  position: relative;
  height: 300px;
  width: 350px;
  border-radius: 10%;
}

#stored h2,
h2:hover,
h2:focus,
h2:active {
  text-decoration: underline;
  color: gold;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 2%;
  font-size: 2rem;
}

#stored button {
  z-index: 1;
  margin: auto;
  position: relative;
  max-width: 50%;
  border-radius: 8%;
  background-color: #000000;
  border: 2px red solid;
  color: rgb(255, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#stored button:hover {
  box-shadow: 1px 1px 4px 4px rgb(232, 77, 77);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fas.fa-bookmark {
    font-size: 15px;
  }
  .fa.fa-home {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fas.fa-bookmark {
    font-size: 25px;
  }
  .fa.fa-home {
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fas.fa-bookmark {
    font-size: 35px;
  }
  .fa.fa-home {
    font-size: 35px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fas.fa-bookmark {
    font-size: 45px;
  }
  .fa.fa-home {
    font-size: 45px;
  }
}
