html::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
}

footer {
  position: absolute;
  height: 0;
  bottom: 0%;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.headerOne {
  padding-top: 5%;
  font-size: 1.5em;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
}
header + .headerOne > h1 {
  color: gold;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: underline;
}

.homeicon {
  display: block;
  position: absolute;
  top: 16%;
  left: 33vw;
}

.bookicon {
  display: block;
  position: absolute;
  top: 16%;
  right: 33vw;
}

.fas.fa-bookmark:hover {
  color: #fff !important;
}

.fa.fa-home:hover {
  color: #fff !important;
}

#relato {
  padding-bottom: 5%;
  text-align: center;
  font-size: 2em;
  color: gold;
  text-transform: capitalize;
  text-decoration: underline;
}

#related-food::-webkit-scrollbar {
  display: none;
}

#related-food {
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 55px;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow: scroll;
}
#related-food > div {
  text-align: center;
  flex: 1 1 25%;
  flex-wrap: wrap;
}

#related-food > div > h1 {
  position: relative;
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 1.2em;
}
#related-food > div > a > h1 {
  color: whitesmoke;
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
}
#related-food > div > h1 + a > img {
  border: 5px groove gold;
}

#instructions::-webkit-scrollbar {
  display: none;
}

#ingredient-list {
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
  left: 35%;
  text-align: left;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding-top: 1.5%;
  padding-bottom: 2.5%;
  margin-bottom: 5%;
}
#ingredient-list > li {
  flex: 1 1 50%;
}
#ingredient-list > p {
  flex: 1 1 100%;
}

#ingredient-list > img {
  position: relative;

  width: 30vw;
  height: 30vh;
  max-width: 30vw;
  max-height: 30vw;
}

#instructions {
  
  box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px, rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px, rgba(0, 0, 0, 0.33) -25px 25px;
  line-height: 1;
  margin: auto;
  text-align: center;
  max-width: 50%;
  border: 5px groove gold;
  border-radius: 5%;
  max-height: 55vh;
  overflow: scroll;
  list-style: decimal;
}

#instructions > h2 {
  font-size: 1.5em;
  color: gold;
  text-transform: capitalize;
  text-decoration: underline;
  padding: 5%;
}

#instructions > li {
  padding: 0.5%;
  list-style: inside;
  list-style: decimal;
  max-width: 50%;
  text-align: left;
  margin: auto;
  margin-bottom: 2%;
}

#preloader {
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.loadicon {
  position: absolute;
  top: 50vh;
  left: 47.8vw;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loadicon:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loadicon:before {
  content: "";
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #d2a63e;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

.loading02 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: 30.5%;
  margin: auto;
}

.loading02 span {
  font-size: 60px;
  color: #d2a63e;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  animation: loading02 2.3s infinite alternate;
  padding: 1px;
}
.loading02 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading02 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading02 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading02 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading02 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading02 span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading02 span:nth-child(8) {
  animation-delay: 0.7s;
}
.loading02 span:nth-child(9) {
  animation-delay: 0.8s;
}
.loading02 span:nth-child(10) {
  animation-delay: 0.9s;
}
.loading02 span:nth-child(11) {
  animation-delay: 1s;
}
.loading02 span:nth-child(12) {
  animation-delay: 1.1s;
}
.loading02 span:nth-child(13) {
  animation-delay: 1.2s;
}
.loading02 span:nth-child(14) {
  animation-delay: 1.3s;
}
.loading02 span:nth-child(15) {
  animation-delay: 1.4s;
}
.loading02 span:nth-child(16) {
  animation-delay: 1.5s;
}
.loading02 span:nth-child(17) {
  animation-delay: 1.6s;
}
.loading02 span:nth-child(18) {
  animation-delay: 1.7s;
}
.loading02 span:nth-child(19) {
  animation-delay: 1.8s;
}
.loading02 span:nth-child(20) {
  animation-delay: 1.9s;
}
.loading02 span:nth-child(21) {
  animation-delay: 2s;
}
.loading02 span:nth-child(22) {
  animation-delay: 2.1s;
}
.loading02 span:nth-child(23) {
  animation-delay: 2.2s;
}
.loading02 span:nth-child(24) {
  animation-delay: 2.3s;
}

@keyframes loading02 {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
  }
}
