html, body{
  width: 100vw;
  height: auto;
}
::-webkit-scrollbar{
  display: none;
}



header {
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
 
}
body {
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
  
}

.titletext{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
 
}
#search{
  position: relative;
  margin-left: -25px;
  width:60vw;
}
.titletext {
    color: white;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.titletext img {
  width: 100%;
  height: 100%;
}

.owl-height {
    max-height: 42.5vh;
  }

  .headerUnderIcon{
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 80px;
    
  }
.headerImage{
  width: 50%;
}

.owl-carousel.owl-theme {
  display: flex;
  border-top: 4px ridge #D2A63E;
  border-bottom: 4px ridge #D2A63E;

}

  .carousel-item img{
    display: flex;
    width: auto;
    height: 45vh;
    max-height: 245px;
    margin: auto; 
    display: block;
    }

  .item img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50vh

  } 


.columns.is-centered {
  display: flex;
  
}

.tb {
  display: table;
  width: 100%;

}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 70vw;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #494747;
  border-radius: 20px;
  box-shadow: 0 10px 40px #D2A63E, 0 0 0 20px #D2A63E;
  transform: scale(0.6);
}

form {
  height: 96px;
}

input {
  position: relative;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #ffffff4b;
  position: absolute;
  left: 6vw;
  top: 10px;
  
}

#s-cover {
  width: 1px;
  
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 69px;
  height: 69px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

.container {
  padding-top: 10vh;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.infoicon {
    display: block;
    position: absolute;
    top: 12%;
    left: 33vw;
}

.bookicon {
  display: block;
  position: absolute;
  top: 12%;
  right: 33vw;
}

.fas.fa-bookmark:hover {
  color: #fff !important; 
}

.fa.fa-info-circle:hover {
  color: #fff !important; 
}

.fa.fa-cog:hover {
  color: #D2A63E !important;
} 

.box{
  background-image: radial-gradient(rgb(85, 83, 83), rgb(48, 48, 48));
  color: #fff;
  margin-bottom: 20px;
}
/* #goldBorder{
  position: static ;
} */

.box h2{
  font-size: 30px;
  color: #D2A63E;

}
.box button{
  font-weight: bolder;
  position: absolute;
  left:43%;
  bottom: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 10px;

}

.box button:active {
  background-color: #D2A63E !important; 
}

.hideclass {
  display: none;
}
.containerinfo {
  border-bottom: 4px solid #D2A63E;
}
.containerinfo p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.containerinfo p img {
  padding: 4px;
}
.info {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}
.info img {
  width: 200px;
  height: 200px;

}
.info h3{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: gold;

}
.info p{ 
  position: relative;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;

  color: #D2A63E;
}

.containerinfo {
  padding-bottom: 4%;
  position: relative;
}

.containerinfo button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: relative;
bottom: -32px;
font-size: 35px;
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 10px;
color: #fff;
background-color: gray;
height: 48px;
}
.containerinfo button:hover{
    transform: scale(1.04);
    background-color: #D2A63E;
}




@media only screen and (max-width: 600px) {
  .fas.fa-bookmark { 
      font-size: 15px; 
    }
    .fa.fa-info-circle {
        font-size: 15px;
    } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fas.fa-bookmark { 
      font-size: 25px; 
    }
    .fa.fa-info-circle{
        font-size: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fas.fa-bookmark { 
      font-size: 35px; 
    }
    .fa.fa-info-circle {
        font-size: 35px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fas.fa-bookmark { 
      font-size: 45px; 
    }
    .fa.fa-info-circle {
        font-size: 45px;
    }
}

@media only screen and (max-width: 1065px) {
  .info{ 
      flex-direction: column;
}
}

@media screen and (max-width: 769px) {
  .column ,.is-full {
  max-width: 100vw;}

}

@media screen and (max-width: 580px) {
  .owl-height {
    max-height: 30vh;
    width: 100%;
  }
  #s-cover{
    position: relative;
    right: 12%;
  }
}

@media screen and (max-width: 420px) {
  .owl-height {
    max-height: 20vh;
    width: 100%;
  }
 
  #s-cover{
    position: relative;
    right: 35%;
  }
}