

main {
  margin: 0;
  height: 100vh;
  background-color: rgba(48, 48, 48);
}
.titletext{
    background-color: rgb(48, 48, 48);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.titletext {
    color: white;
    padding-top: 7vh;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    display: flex;
}
#goldBorder{
  position: fixed;
  z-index: 0;
}
#logo{
  position: relative;
}

.owl-height {
    max-height: 35vh;
  }

  .carousel-item img{
    width: auto;
    height: 245px;
    max-height: 245px;
    margin: auto; 
    display: block;
    }

  .item img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50vh
  
    
  } 

.field.has-addons {
  position: relative;
  align-items: center;
  justify-content: center;
}
.control {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 70vh; */
}

#settings {
  background-image: url(../images/cog.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
}